.dataporten-button{
    background-color: #2b9c2f !important;
    color: #fff;
    border: 1px solid #2b9c2f !important;
    text-shadow: 0 1px rgba(0,0,0,0.1);
}

.dataporten-button:hover{
    background-color: #29b32e !important;
    color: #fff;
}
